@font-face {
	font-family: "v587-iconfont"; /* project id 1725188 */
	src: url("https://at.alicdn.com/t/font_1725188_fq6axhhn2e7.eot");
	src: url("https://at.alicdn.com/t/font_1725188_fq6axhhn2e7.eot?#iefix")
			format("embedded-opentype"),
		url("https://at.alicdn.com/t/font_1725188_fq6axhhn2e7.woff2") format("woff2"),
		url("https://at.alicdn.com/t/font_1725188_fq6axhhn2e7.woff") format("woff"),
		url("https://at.alicdn.com/t/font_1725188_fq6axhhn2e7.ttf") format("truetype"),
		url("https://at.alicdn.com/t/font_1725188_fq6axhhn2e7.svg#iconfont") format("svg");
}

[class*="v587-icon-"] {
	font-family: "v587-iconfont";
	font-size: inherit;
	font-style: normal;
}

.v587-icon-toast-waiting:before {
	content: "\e62a";
}

.v587-icon-toast-success:before {
	content: "\e642";
}

.v587-icon-toast-error:before {
	content: "\e644";
}

.v587-icon-notification-fill:before {
	content: "\e807";
}

.v587-icon-toast-warning:before {
	content: "\e62b";
}

.v587-icon-caret-bottom:before {
	content: "\e797";
}

.v587-icon-caret-top:before {
	content: "\e798";
}

.v587-icon-clock-fill:before {
	content: "\e8cc";
}

.v587-icon-favor-fill:before {
	content: "\e8ce";
}

.v587-icon-help-fill:before {
	content: "\e8cf";
}

.v587-icon-history-fill:before {
	content: "\e8d0";
}

.v587-icon-smile-fill:before {
	content: "\e8d1";
}

.v587-icon-success-fill:before {
	content: "\e8d2";
}

.v587-icon-map-fill:before {
	content: "\e8d3";
}

.v587-icon-warning-fill:before {
	content: "\e8d4";
}

.v587-icon-meh-fill:before {
	content: "\e8d5";
}

.v587-icon-cry-fill:before {
	content: "\e8d6";
}

.v587-icon-delete-fill:before {
	content: "\e8d7";
}

.v587-icon-like-fill:before {
	content: "\e8df";
}

.v587-icon-check:before {
	content: "\e645";
}

.v587-icon-close:before {
	content: "\e646";
}

.v587-icon-search:before {
	content: "\e65c";
}

.v587-icon-arrow-bottom:before {
	content: "\e661";
}

.v587-icon-arrow-top:before {
	content: "\e6de";
}

.v587-icon-arrow-left:before {
	content: "\e7ed";
}

.v587-icon-arrow-right:before {
	content: "\e806";
}

.v587-icon-notification:before {
	content: "\e808";
}

.v587-icon-plus:before {
	content: "\e809";
}

.v587-icon-minus:before {
	content: "\e80a";
}

.v587-icon-image:before {
	content: "\e8ac";
}

.v587-icon-refresh:before {
	content: "\e8ad";
}

.v587-icon-plus-border:before {
	content: "\e8ae";
}

.v587-icon-minus-border:before {
	content: "\e8af";
}

.v587-icon-check-border:before {
	content: "\e8b0";
}

.v587-icon-close-border:before {
	content: "\e8b1";
}

.v587-icon-help-border:before {
	content: "\e8b2";
}

.v587-icon-warning-border:before {
	content: "\e8b3";
}

.v587-icon-wait-border:before {
	content: "\e8b5";
}

.v587-icon-meh-border:before {
	content: "\e8b6";
}

.v587-icon-cry-border:before {
	content: "\e8b7";
}

.v587-icon-smile-border:before {
	content: "\e8b8";
}

.v587-icon-back-top:before {
	content: "\e8bb";
}

.v587-icon-calendar:before {
	content: "\e8bd";
}

.v587-icon-customer-service:before {
	content: "\e8be";
}

.v587-icon-scan:before {
	content: "\e8bf";
}

.v587-icon-pay:before {
	content: "\e8c0";
}

.v587-icon-stop:before {
	content: "\e8c4";
}

.v587-icon-play:before {
	content: "\e8c5";
}

.v587-icon-more:before {
	content: "\e8c6";
}

.v587-icon-map:before {
	content: "\e8c7";
}

.v587-icon-keyboard-9:before {
	content: "\e8c8";
}

.v587-icon-keyboard-26:before {
	content: "\e8c9";
}

.v587-icon-edit:before {
	content: "\e8ca";
}

.v587-icon-chart-bar:before {
	content: "\e8d8";
}

.v587-icon-cloud-upload:before {
	content: "\e8da";
}

.v587-icon-cloud-download:before {
	content: "\e8db";
}

.v587-icon-eye-open:before {
	content: "\e8dc";
}

.v587-icon-eye-close:before {
	content: "\e8de";
}

.v587-icon-like:before {
	content: "\e8e0";
}

.v587-icon-my:before {
	content: "\e8e1";
}

.v587-icon-friend:before {
	content: "\e8e2";
}

.v587-icon-set:before {
	content: "\e8e4";
}

.v587-icon-chart-pie:before {
	content: "\e8e6";
}

.v587-icon-arrow-double-left:before {
	content: "\e8e7";
}

.v587-icon-arrow-double-right:before {
	content: "\e8e8";
}

.v587-icon-top:before {
	content: "\e8ea";
}

.v587-icon-upgrade:before {
	content: "\e8eb";
}

.v587-icon-rise:before {
	content: "\e8ec";
}

.v587-icon-decline:before {
	content: "\e8ed";
}

.v587-icon-active:before {
	content: "\e8ee";
}

.v587-icon-fullscreen:before {
	content: "\e8ef";
}

.v587-icon-enlarge:before {
	content: "\e8f0";
}

.v587-icon-shrink:before {
	content: "\e8f1";
}

.v587-icon-cropper:before {
	content: "\e8f2";
}

.v587-icon-share:before {
	content: "\e8f3";
}

.v587-icon-link:before {
	content: "\e8f4";
}

.v587-icon-back:before {
	content: "\e8f5";
}

.v587-icon-enter:before {
	content: "\e8f6";
}
